body {
    background-color: bisque;
    border: 2px solid goldenrod;
}

h1,
h2 {
    text-align: center;
    color: darkgreen;
}

h3 {
    text-align: center;
    color: rgb(139, 0, 65);
    font-weight: bold;
}

main {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-radius: 16px;
    width: 1000px;
    margin: auto;
    padding: 100px;
    background-color: rgb(240, 166, 166);
}

.container-menu,
footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-radius: 16px;
    width: 1000px;
    margin: 45px auto;
    padding: 100px;
    background-color: greenyellow;
}

.color-ul {
    color: rgb(255, 0, 0);
}

.container-nav {
    background-color: chocolate;
    border: 2px solid blue;
    border-radius: 8px;
    margin: auto;
    width: 800px;
}

.color-text {
    color: rgb(154, 47, 255);
    font-weight: bold;
}

p {
    padding-top: 12px;
    padding-left: 50px;
    text-align: center;
}

.example {
    background-color: red;
    border: 2px solid blue;
    border-radius: 8px;
    margin: auto;
    width: 800px;
}

iframe {
    display: grid;
    margin: auto;

}

.container-contacts {
    margin-bottom: 35px;

}

.form {
    margin: auto;
    padding: 35px;
    width: max-content;
    font-style: oblique;
}

input {
    width: 180px;
    height: 30px;
    border-radius: 8px;
}

legend {
    font-size: larger;
    font-weight: bolder;
}

.select-option {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: x-large;
}

.btn-wrapper {
    background-color: rgb(226, 43, 58);
    width: 290px;
    height: 80px;
    margin: 0 auto;
    display: block;
    color: black;
    font-size: 2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.item {
    flex: 1 1 0;
    margin: 40px;
    text-align: center;
    font-size: x-large;

}